includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app
  level: 4
  ignoreErrors:
    - '#Call to an undefined method [^\s]+::whereJsonContains#'
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
  parallel:
    maximumNumberOfProcesses: 4
    processTimeout: 300.0
