apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: renthub-dev

bases:
- ../../

namePrefix: dev-

commonLabels:
  environment: development

replicas:
- name: backend
  count: 1
- name: frontend
  count: 1
- name: queue-worker
  count: 1

images:
- name: renthub/backend
  newTag: dev
- name: renthub/frontend
  newTag: dev

configMapGenerator:
- name: renthub-config
  behavior: merge
  literals:
  - APP_ENV=local
  - APP_DEBUG=true
  - APP_URL=http://dev.renthub.local
  - NEXT_PUBLIC_API_URL=http://api.dev.renthub.local

resources:
- namespace-dev.yaml
