apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: renthub-staging

bases:
- ../../

namePrefix: staging-

commonLabels:
  environment: staging

replicas:
- name: backend
  count: 2
- name: frontend
  count: 2
- name: queue-worker
  count: 1

images:
- name: renthub/backend
  newTag: staging
- name: renthub/frontend
  newTag: staging

configMapGenerator:
- name: renthub-config
  behavior: merge
  literals:
  - APP_ENV=staging
  - APP_DEBUG=false
  - APP_URL=https://staging.renthub.com
  - NEXT_PUBLIC_API_URL=https://api.staging.renthub.com

resources:
- namespace-staging.yaml
